
@media(max-width: 992px) {
  .third {
    margin: 10px 5px;
    width: 99%;
  }
  .instagram-placeholder {
    width: 33%;
  }
  blockquote {
    width: 75%;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 125px;
  }
  h4 {
    text-align: center;
  }
  #main {
    padding-top: 20px;
  }
  .navbar-static-top {
    position: fixed;
    left: 0;
    right: 0;
    height: 120px;
    .navbar-header .navbar-brand img {
      margin: 20px auto;
      width: 210px;
    }
    .navbar-toggle {
      top: 55px
    }
    .navbar-collapse {
      border-top: none;
      position: fixed;
        top: 130px;

      .navbar-nav {
        li > a {
          font-size: 10px;
        }
      }
    }
  }
  .instagram-placeholder {
    width: 50%;
  }
}

@media (max-width: 480px) {
  body {
    padding-top: 110px;
  }

  blockquote {
    width: 100%;
  }

  .navbar-static-top {
    height: 95px;
    .navbar-header .navbar-brand img {
      margin: 15px auto;
      width: 190px;
    }
    .navbar-toggle {
      top: 40px
    }
    .navbar-collapse {
      top: 105px;
      .navbar-nav {
        li > a {
          font-size: 7px;
          margin: 0 2px;
        }
      }
    }
  }
  .clock {
    padding-left: 50px;
    padding-right: 50px;
    span {
      font-size: 25px;
    }
  }
  .instagram-placeholder {
    width: 100%;
  }
  footer {
    p {
      text-align: center;
      width: 100%;
    }
  }
}